<div class="page">
  <div class="button-row">
    <p-button label="Users" (click)="openUserSidebar()" />
  </div>
  <p-scrollPanel
    styleClass="custombar2"
    scrollTop="10000"
    [style]="{ width: '100%', height: '500px' }"
  >
    <!-- this is where the current messages go -->

    <p-card class="message" *ngFor="let message of messages$ | async">
      <div>{{ message.message }}</div>

      <div class="message-footer">
        <p>{{ message.userName }}</p>
        <p>{{ message.messageDate | date : "medium" }}</p>
      </div>
    </p-card>
  </p-scrollPanel>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="textbox">
      <!-- the text window -->
      <textarea pInputTextarea formControlName="message" rows="5" cols="125">
      </textarea>
    </div>
    <div class="button-row">
      <p-button type="submit" label="Submit" [disabled]="!form.valid" />
      <p-button
        label="Clear"
        severity="secondary"
        type="button"
        (click)="onClear()"
      />
    </div>
    <div class="error-message" *ngIf="hasError">{{ errorMessage }}</div>
  </form>
</div>

<p-sidebar
  [(visible)]="displayUsers"
  position="right"
  styleClass="p-sidebar-md"
>
  <h3>Users</h3>
  <app-userlist [users]="loggedInUsers$ | async"></app-userlist>
</p-sidebar>
