<div class="page">
  <div class="chat-body">
    <div class="icon-button-row">
    <p-button
      icon="pi pi-user"
      [rounded]="true"
      (click)="openUserSidebar()"
      pTooltip="Click to open the user sidebar"
      tooltipPosition="left"
    />
  </div>

    <p-scrollPanel>
      <!-- this is where the current messages go -->

      <p-card *ngFor="let message of messages$ | async">
        <div [innerHTML]="message.message"></div>

        <div class="message-footer">
          <p>{{ message.userName }}</p>
          <p>{{ message.messageDate | date : 'medium' }}</p>
        </div>
      </p-card>
    </p-scrollPanel>
  </div>

  <div class="chat-footer">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="textbox">
        <!-- the text window -->
        <p-editor formControlName="message" [style]="{ height: '220px' }" />
      </div>
      <div class="button-row">
        <p-button type="submit" label="Submit" [disabled]="!form.valid" />
        <p-button
          label="Clear"
          severity="secondary"
          type="button"
          (click)="onClear()"
        />
      </div>
      <div class="error-message" *ngIf="hasError">{{ errorMessage }}</div>
    </form>
  </div>
</div>

<p-sidebar
  [(visible)]="displayUsers"
  position="right"
  styleClass="p-sidebar-md"
>
  <h3>Users</h3>
  <app-userlist [users]="loggedInUsers$ | async"></app-userlist>
</p-sidebar>
