.page {
  justify-content: space-between;
}

.icon-button-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 10px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.chat-footer {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.message-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: small;
}

// for the message card
 ::ng-deep .p-card .p-card-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: .25rem;
}

::ng-deep .p-card .p-card-content {
  padding: .25rem;
}


::ng-deep .p-scrollpanel {
  height: calc(100vh - 525px);
}
