<div class="page">
  <div style="margin: 20px 0px">Login to the app</div>
  <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="form-control">
        <input
          id="username"
          pInputText
          type="text"
          formControlName="username"
          placeholder="User name"
        />
      </div>
      <div class="form-control">
        <input
          id="password"
          pInputText
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <div class="button-row">
        <p-button
          class="submit-button"
          [disabled]="!loginForm.valid"
          id="submit"
          type="submit"
          label="Submit"
        />
        <p-button
          routerLink="/signup"
          [text]="true"
          label="Switch to signup"
          severity="secondary"
        />
      </div>
    </div>
  </form>
  <div class="error-message" *ngIf="hasError">{{errorMessage}}</div>
</div>
