<p-menu #menu [model]="items" popup="true" appendTo="body" />

<div class="app-wrapper">
  <div class="header">
    <h3>Chat App</h3>
    <div class="header-name">
      <div *ngIf="loggedIn">Hello {{ currentUser?.displayName }}</div>
 <!--      <div class="avatar"><img [src]="currentUser.avatarUrl" height="30"></div>
 -->      <p-button
        (click)="menu.toggle($event)"
        icon="pi pi-bars"
        [rounded]="true"
        [text]="true"
      />
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<p-dialog header="About" [modal]="true" [(visible)]="showDialog" [style]="{ width: '50rem' }">
<div>
  <p>
  This is a portfolio project implemented by me - Lisa Copeland. This angular 17 app and
  it's backend dotnet c# api illustrate using websockets to send ngrx messages from the backend
  to the frontend. It uses DynamoDB for persistent storage and primeng UI elements.</p>

  <p>You can see this project and some of my others at my <a href="https://github.com/lisacopeland" target="_blank">Github Portfolio</a>.</p>

  <p>Want to learn more about me? Visit me at <a href="https://www.linkedin.com/in/lisacope/" target="_blank">LinkedIn</a>.</p>
</div>

</p-dialog>
