.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: #404040;
}

.header-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

::ng-deep .p-button .p-button-icon {
  color: white;
}
